/*Set font style for page*/
html{
  font-family: arial;
  overflow-x: hidden;
}
/*Set color for top header and title*/
#page-top{
  background-color:#5f5958; 
  margin: -30px -10px 0px -10px; 
  padding-bottom: 10px;
  border-color: #5f5958;
  text-align: center; 
  color: #ffffff; 
  font-size: x-large;
}
/*Set style for nav links under top header*/
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
  
li{
  float: left;
  width: 25%;
}
  
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin: 0px;
}
/*Format Project tab*/
/*Format first dropdown*/
button{
  background-color: #ff0000;
  font-size: medium;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin: auto;
  border: 1cm #000000;
}
.dropdown {
  width: 25%;
  display: inline-block;
  position: absolute;
}
/*Format first dropdown menu*/
.dropdown-options {
  display: none;
  position: absolute;
  top: 100%;
}
/*Format when tab is hovered on*/
.dropdown:hover .dropdown-options {
  text-decoration: none;
  display: block;
  z-index: 10;
  position: absolute;
  border: 1cm black;
  width: 100%;
}
/*Format first dropdown options*/
.dropdown-options a {
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  background-color: #ff0000;
  margin: auto;
  border: 5px black;
}
/*Format second dropdown button*/
.dropButton{
  background-color: #ff0000;
  font-size: medium;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin: auto;
  border: 1cm #000000;
  width: 100%;
}
.dropdown-2 {
  width: 100%;
  display: inline-block;
  position: absolute;
}
/*Format second dropdown menu*/
.dropdown-options-2 {
  display: none;
  position: absolute;
  top: 100%;
}
/*Format when tab is hovered on*/
.dropdown-2:hover .dropdown-options-2 {
  text-decoration: none;
  display: block;
  z-index: 10;
  position: absolute;
  border: 1cm black;
  width: 100%;
}
/*Format second dropdown options*/
.dropdown-options-2 a {
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  background-color: #ff0000;
  margin: auto;
  border: 5px black;
}
/*Format dropdown links*/
.dropdown-link:hover{
  text-decoration: underline;
}
/*Format other tab links (Homepage, About Me, and Resume)*/
nav{
  background-color: #ff0000; 
  color: #ffffff; 
  margin: 0px -10px 0px -10px; 
  padding: 15px; 
  border-color: #ff0000;
  overflow:hidden;
}
.nav-link:visited, .nav-link:link{
  color:#ffffff; 
  text-decoration: none;
}
.nav-link:hover, .nav-link:active{
  color:#ffffff; 
  text-decoration: underline;
}
/*Adjust color of current tab on nav bar*/
#activeTab{
  background-color: #990000;
}
/*Set style for main content of page*/
body{
  background-color: white;
}
section{
  text-align: center;
  font-size: large;
  margin-bottom: 20px;
}
hr{
  width: 50%;
}
/*Set style for footer of page*/
footer{
  background-color: #5f5958;  
  color: #ffffff;
  margin: 0px -10px -10px -10px; 
  padding-top: 10px; 
  padding-bottom: 10px;
  border-color: #5f5958;
  white-space: nowrap;
  position: relative;
  bottom: 0;
  width: 101%;
  justify-content: space-between;
}
/*Format footer content*/
footer p{
  margin-left: 10px;
  width: 50%
}
footer li{
  width: 50%
}
/*Format email addresses*/
address{
  margin-left: 30px
}
address a {
  display: initial;
}
/*Format area for social links (may delete)*/
.social-area{
  text-align: center;
}
/*Format LinkedIn logo*/
.fa-linkedin{
  background-color: #007bb5;
  color: white;
  padding: 5px;
  border-radius: 40%;
  display: inline-block;
  margin-left: 1%;
}