/*Format individual sections of page*/
.personalDescription {
    padding-top: 10px;
    text-align: left;
    display: flex;
    margin-left: 30%;
    margin-right: 30%;
}
/*Format images*/
.fig {
    display: block;
    margin-right: 10px;
    text-align: center;
}
.imageSection{
    display: flex;
}
#imgL{
    margin-left: 24%;
    margin-right: 2%
}
/*Format text content*/
.content{
    text-indent: 20px;
    text-align: left;
}
#isolatedParagraph{
    margin-left: 30%;
    margin-right: 30%;
}
/*Format figcaptions*/
.underLarge{
    display: inline-flex;
    width: 22%;
    text-align: left;
}
#figcapL{
    margin-right: 2%;
}
#figcapR{
    margin-left: 2%;
}