.intro-container{
    display: inline-block;
    width: 50%;
    overflow: hidden;
    vertical-align: top;
    margin: 5% 0 0 0;
}
.greeting{
    margin: auto auto 0 auto;
    text-align: center;
}
.greeting-sub{
    margin: 0;
    text-align: center;
}
.intro-content{
    text-indent: 10px;
    font-size: large;
}
.center-header{
    text-align: center;
    margin: 2% 0 2% 0;
}
.skill-list{
    margin: auto auto auto 10%;
    font-size: large;
}
.proof-message{
    text-align: center;
    font-size: large;
}
.project-section{
    margin: 5% auto auto auto;
}
.project-header{
    margin: auto auto auto 30%;
    margin-bottom: 0%;
}
.project-metadata-list{
    list-style-type: disc;
    margin-bottom: 1%;
    font-size: large;
}
.project-metadata-item{
    float:none;
    width: auto;
    margin: auto auto auto 2%;
}
.image-container{
    display: inline-block;
    width: 45%;
    margin: 0 0 0 2%;
}
.scrollable-container{
    overflow: auto;
    white-space: nowrap;
    padding: 0;
    scrollbar-color: #8F8C8B #D1CECD;
}
/*Format each image of projects*/
.image-container img{
    padding: 10px;
}
.text-container{
    display: inline-block;
    width: 50%;
    overflow: hidden;
    vertical-align: top;
    margin: 10% 0 0 0;
}
.text-container-p2{
    display: inline-block;
    width: 50%;
    overflow: hidden;
    vertical-align: top;
    margin: 5% 0 0 0;
}
.text-container-p3{
    display: inline-block;
    width: 50%;
    overflow: hidden;
    vertical-align: top;
    margin: 0 0 0 0;
}
.description{
    text-indent: 2%;
    margin: 2% 0 0 2%;
}
.project-dropdown-button{
    font-size: large;
    margin: auto auto 1% auto;
    width: 100%;
}
.project-dropdown-summary{
    margin: 0 0 0 60%;
}
.project-dropdown-summary-left{
    margin: 0 0 0 10%;
}
.challenge-section{
    display: inline-block;
    width: 50%;
}
.deepdive-header{
    margin: 1% 0 2% 25%;
}
.challenge-item{
    margin: 0 0 0 10%;
}
.challenge-points{
    float: none;
    list-style-type: disc;
    margin: auto auto 2% 10%;
}
.deliverables-section{
    display: inline-block;
    width: 48%;
    overflow: hidden;
    vertical-align: top;
}
.deliverables-points{
    list-style-type: disc;
}
.single-image-container{
    display: inline-block;
    width: 45%;
    margin: 0 0 0 2%;
    text-align: center;
}
.interested-message{
    margin: 2% auto auto auto;
    text-align: center;
}
.interested-link{
    color: white;
}
.about-me-paragraph{
    margin: 2% 25% auto auto;
    width: 50%;
    text-indent: 2%;
}
@media only screen and (max-width: 600px) {
    .intro-container{
        width: 99%;
    }
    .intro-content{
        font-size: 1rem;
    }
    .skills-list{
        font-size: 1rem;
        width: 80%;
        margin: auto auto auto 0;
    }
    .proof-message{
        font-size: 1rem;
    }
    .image-container{
        display: block;
        width: 99%;
        margin: 0;
    }
    .single-image-container{
        margin: 0;
        text-align: center;
        width: 99%;
    }
    .image-container img{
        padding: 0;
    }
    .text-container{
        display: block;
        width: 99%;
        margin: 0;
    }
    .text-container-p2{
        display: block;
        width: 99%;
        margin: 0;
    }
    .text-container-p3{
        display: block;
        width: 99%;
        margin: 0;
    }
    .project-header{
        text-align: center;
        margin: auto auto auto 0;
    }
    .project-metadata-list{
        font-size: 1rem;
        padding: 0 0 2% 5%;
    }
    .project-dropdown-button{
        font-size: 1rem;
    }
    .project-dropdown-summary, .project-dropdown-summary-left{
        margin: 2% 0 0 5%;
    }
    .challenge-section{
        display: block;
        width: 99%;
    }
    .challenge-item{
        margin: 0 0 0 5%;
    }
    .challenge-points{
        margin: 0 0 1% 0;
    }
    .deliverables-section{
        display: block;
        width: 99%;
    }
    .deepdive-header{
        text-align: center;
        margin: 2% 0 2% 0;
    }
    .interested-message{
        margin: 4% auto auto auto;
    }
    .about-me-paragraph{
        margin: auto auto auto 5%;
        width: 90%;
    }
    /* * { outline: 1px solid #f00 !important; } */
}