/*Set font and loading style for page*/
html{
  font-family: 'Manrope', sans-serif;
  color: white;
  scroll-behavior: smooth;
}
body{
  margin: 0;
  background-color: #0A0A0A;
  animation: slideInUp 1s ease-out;
}
header{
  background-color: black;
  padding: 1% 0;
  font-size: 1.5rem;
  position: sticky;
  top: 0;
}
img{
  pointer-events: none;
}
.header-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header-name-text{
  display: inline-block;
  width: 30.3%;
  margin: 0 0 0 3%;
}
.links-section{
  display: inline-block;
  width: 33.3%;
}
.nav-link:visited, .nav-link:link, .nav-link:hover, .nav-link:active{
 color:white;
 text-decoration: none;
 margin: auto auto auto 25%;
}
#active-tab{
  border-bottom: 2px white solid;
  padding: 0 0 1% 0;
}
.resume-link{
  display: inline-block;
  text-align: right;
  width: 30%;
}
.resume-open-icon{
  width: 3%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(36deg) brightness(110%) contrast(101%);
}
.last-update{
  margin: 0 0 0 4%;
}
footer{
  background-color: black;
}
.footer-list{
  list-style-type: none;
  padding: 0;
}
.contact-section{
  display: inline-block;
  width: 49%;
  padding: 1% 0 0 0;
  overflow: hidden;
  vertical-align: top;
}
.contact-header{
  text-align: center;
}
.email-text{
  text-align: center;
}
.connect-link{
  display: block;
  color: white;
  margin: 1%;
  text-align: center;
}
.connect-open-icon{
  width: 1.5%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(36deg) brightness(110%) contrast(101%);
}
figcaption{
  text-align: center;
}
#mobile{
  display: none;
}
@keyframes slideInUp {
  from {
      transform: translateY(1%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}
@media only screen and (max-width: 600px) {
  html{
    font-size: 0.8rem;
  }
  header{
    font-size: 1.15rem;
  }
  .header-name-text{
    display: block;
    width: auto;
    margin: 0 0 0 3%;
  }
  .links-section{
    display: inline-block;
    width: 77%;
    text-align: center;
  }
  .nav-link:visited, .nav-link:link, .nav-link:hover, .nav-link:active{
    margin: auto auto auto 15%;
  }
  .resume-link{
    display: inline-block;
    text-align: right;
    width: 20%;
  }
  .resume-open-icon{
    width: 15%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(36deg) brightness(110%) contrast(101%);
  }
  .email-text{
    font-size: 0.9rem;
  }
  .connect-open-icon{
    width: 5%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(36deg) brightness(110%) contrast(101%);
  }
  #desktop{
    display: none !important;
  }
  #mobile{
    display: block;
  }
}