.center-header{
    text-align: center;
    margin: 2% 0 2% 0;
}
.project-container{
    margin: 5% auto auto auto;
}
.project-header{
    text-align: center;
    margin-bottom: 0%;
}
.project-metadata-list{
    list-style-type: disc;
    margin-bottom: 1%;
    font-size: large;
}
.project-metadata-item{
    float:none;
    width: auto;
    margin: auto auto auto 2%;
}
.image-container{
    display: inline-block;
    width: 45%;
    margin: 0 0 0 2%;
}
.single-image-container{
    display: inline-block;
    width: 45%;
    margin: 0 0 0 2%;
    text-align: center;
}
.scrollable-container{
    overflow: auto;
    white-space: nowrap;
    padding: 0;
    scrollbar-color: #8F8C8B #D1CECD;
}
/*Format each image of projects*/
.image-container img{
    padding: 10px;
}
.text-container{
    display: inline-block;
    width: 49%;
    overflow: hidden;
    vertical-align: top;
    margin: 0;
}
.single-text-container{
    display: block;
    width: 50%;
    margin: 3% auto auto 25%;
}
.description{
    text-indent: 2%;
    margin: 2% 0 0 5%;
}
.project-seperator{
    margin: auto auto auto 10%
}
.repo-link{
    color: white;
}
.repo-open-icon{
    width: 1.5%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(36deg) brightness(110%) contrast(101%);
}
@media only screen and (max-width: 600px) {
    .image-container{
        display: block;
        width: 99%;
        margin: 0;
        text-align: center;
    }
    .single-image-container{
        width: 98%;
    }
    .text-container, .single-text-container{
        display: block;
        width: 99%;
        margin: 5% 0 0 0;
    }
    .project-header{
        text-align: center;
        margin: auto auto auto 0;
    }
    .project-metadata-list{
        font-size: 1rem;
        padding: 0 0 2% 5%;
    }
}