/*Format header of each project*/
.project-header{
    margin-left: 30%;
}
/*Format container for multiple images of projects*/
.image-container{
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
/*Format each image of projects*/
.image-container img{
    padding: 10px;
    width: 25%;
    height: 25%;
}
/*Format description paragraph of images*/
.description{
    text-align: left;
    text-indent: 20px;
    margin-left: 35%;
    margin-right: 35%;
}
