/*Format preview image of resume*/
img{
    border: 1px solid;
    border-color: black;
    margin-top: 10px;
}
/*Format open link caption*/
figcaption{
    font-size: large;
}
/*Format embedded resume window*/
.resContainer{
    overflow: hidden;
    color: white;
}
iframe{
    height: 287mm;
    width: 222mm;
    overflow: hidden;
    border-width: 0;
    margin-top: -6px;
}